<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div id="showSel" class="col-md-3">
        <div class="list-group">
            <li class="list-group-item"> <h2><%= team.name %></h2></li>
            <li class="list-group-item"><%= team.bio %></li>
            <img id="gameImg" class="list-group-item" src="/img/<%=team.game.gameImg%>.jpg">
            </div>
        </div>
    </div>
    <% team.players.forEach(function(player){%>
    <div class="row">
      <div class="col-md-12">
        <p><strong><%= player.username %></strong></p>
        </div>
      </div>
    </div>
    <% }) %>
    <div>
      <div>
        <a id="addComment" class="btn btn-success" href="/teams/<%=team._id%>/comments/new">Add New Comment</a>
      </div>
    </div>
    
    <% team.comments.forEach(function(comment){%>
    <div class="row">
      <div class="col-md-12">
        <strong><%= team.author.username%></strong>
        <strong><%= team.comment%></strong>
        <p id="commentDate"><%= comment.date%> @ <%= comment.time %>
        </p>
        <div id="commentText" class="well">
          <%= comment.text%>
        </div>
      </div>
    </div>
      
    </p>
    <% }) %>
    <% if(currentUser && team.author.id.equals(currentUser._id)){ %>
    <a class="btn btn-xs btn-warning" href="/team/<%=team._id%>/edit">Edit</a>
    <form id="delete-form" action="/teams/<%=team.id%>?_method=DELETE" method="POST">
      <button class="btn btn-xs btn-danger">Delete</button>
    </form>
    <% } %>
</div>


<% include ../partials/footer %>

