<% include partials/header %>

<h2><%= currentUser.username%>'s account</h2>

<% user.requests.forEach(function(request){%>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <strong><%= user.requests%></strong>
        <p id="reqDate"><%= request.date%> @ <%= request.time%>
        </p>
        <div id="reqText" class="well">
          <%=request.text%>
        </div>
      </div>
    </div>
    </p>
      <% }) %>
    </div>

<% include partials/footer %>