<% include partials/header %>

<%= user.team %>
<h2><%= currentUser.username%>'s account</h2>
<% user.requests.forEach(function(request){%>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <strong><%= request.author.username %></strong>
        <p id="reqDate"><%= request.date%> @ <%= request.time%>
        </p>
        <div id="reqText" class="well">
          <p><%=request.text%></p>
          <p> From <%= request.team.name %></p>
          <div id="requestBtn" class="row">
             <form action="/<%=user.id%>/account/confirm" method="POST">
             <input type="hidden" name="confirm" value="<%=request.team.id%>">
             <button style="margin-top: 15px; margin-left: 35px" class="btn btn-primary btn-lg btn-success">Submit</button>
          </form>
          <form action="/<%=user._id%>/account/confirm/<%=request._id%>?_method=DELETE" method="POST">
             <input type="hidden" name="confirm" value="<%=request.team.id%>">
             <button style="margin-top: 15px; margin-left: 35px" class="btn btn-primary btn-lg btn-danger">Ignore</button>
          </form>
        </div>
        </div>
      </div>
    </div>
    </p>
      <% }) %>
    </div>

<% include partials/footer %>