<% include partials/header %>

<h2><%= currentUser.username%>'s account</h2>
<div id="userTeam" class="container">
<p>Member of <h3><%= user.teamname %></h3></p>
</div>

<div id="accountCard" class="card card-inverse mx-auto">
</div>

<% user.requests.forEach(function(request){%>
<div class="container mx-auto">
    <div class="card">
      <div>
        <strong><%= request.author.username %></strong>
        <p id="reqDate"><%= request.date%> @ <%= request.time %>
        </p>
        <div id="reqText">
          <p><%=request.text%></p>
          <p> From <%= request.team.name %></p>
          <div id="requestBtn">
             <form action="/<%=user.id%>/account/confirm/<%=request._id%>" method="POST">
             <input type="hidden" name="confirm" value="<%=request.team.id%>">
             <button style="margin-top: 15px; margin-left: 35px" class="btn btn-primary btn-lg btn-success">Confirm</button>
          </form>
          <form action="/<%=user._id%>/account/confirm/<%=request._id%>?_method=DELETE" method="POST">
             <input type="hidden" name="confirm" value="<%=request.team.id%>">
             <button style="margin-top: 15px; margin-left: 35px" class="btn btn-primary btn-lg btn-danger">Ignore</button>
          </form>
        </div>
        </div>
      </div>
    </div>
    </p>
      <% }) %>
    </div>
    
    

<% include partials/footer %>